In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline
pd.set_option('display.max_columns', None)

In [2]:
#https://www.statsamerica.org/downloads/default.aspx  -population stats - u.s., state, county populaton
pop_data = pd.read_csv('data/population_data/Population_estimates_US_States_Counties.csv')

In [3]:
pop_data.head(3)

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Population,Count or Estimate,State or County Release
0,0,0,0,U.S.,1970,203302031,Count,State
1,0,0,0,U.S.,1970,203302037,Estimate,County
2,0,0,0,U.S.,1980,226545805,Count,State

In [4]:
pop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89499 entries, 0 to 89498
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   IBRC_Geo_ID              89499 non-null  int64
 1   Statefips                89499 non-null  int64
 2   Countyfips               89499 non-null  int64
 3   Description              89499 non-null  object
 4   Year                     89499 non-null  int64
 5   Population               89499 non-null  int64
 6   Count or Estimate        89499 non-null  object
 7   State or County Release  89499 non-null  object
dtypes: int64(5), object(3)
memory usage: 5.5+ MB

In [5]:
pop_data_2019 = pop_data[pop_data['Year']==2019]
pop_data_2019

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Population,Count or Estimate,State or County Release
28,0,0,0,U.S.,2019,328329953,Estimate,State
58,1000,1,0,Alabama,2019,4907965,Estimate,County
86,1001,1,1,"Autauga County, AL",2019,55769,Estimate,County
114,1003,1,3,"Baldwin County, AL",2019,223565,Estimate,County
142,1005,1,5,"Barbour County, AL",2019,24657,Estimate,County
...,...,...,...,...,...,...,...,...
89385,56037,56,37,"Sweetwater County, WY",2019,42917,Estimate,County
89413,56039,56,39,"Teton County, WY",2019,23385,Estimate,County
89441,56041,56,41,"Uinta County, WY",2019,20196,Estimate,County
89469,56043,56,43,"Washakie County, WY",2019,7824,Estimate,County
89497,56045,56,45,"Weston County, WY",2019,6880,Estimate,County

In [6]:
#https://www.statsamerica.org/downloads/default.aspx  -population stats - u.s., state, county population change
pop_data2 = pd.read_csv('data/population_data/Components of Population Change - US, States, Counties.csv')

In [7]:
pop_data2.head(3)

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Births,Deaths,Net International Migration,Net Domestic Migration,Residual
0,0,0,0,U.S.,1990,1037851,517815,171313.0,0,0
1,0,0,0,U.S.,1991,4133265,2138906,649430.0,0,0
2,0,0,0,U.S.,1992,4105689,2180115,773452.0,0,0

In [8]:
pop_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103093 entries, 0 to 103092
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   IBRC_Geo_ID                  103093 non-null  int64
 1   Statefips                    103093 non-null  int64
 2   Countyfips                   103093 non-null  int64
 3   Description                  103093 non-null  object
 4   Year                         103093 non-null  int64
 5   Births                       103093 non-null  int64
 6   Deaths                       103093 non-null  int64
 7   Net International Migration  97861 non-null   float64
 8   Net Domestic Migration       103093 non-null  int64
 9   Residual                     103093 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 7.9+ MB

In [9]:
pop_data2_2019 = pop_data2[pop_data2['Year']==2019]
pop_data2_2019

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Births,Deaths,Net International Migration,Net Domestic Migration,Residual
30,0,0,0,U.S.,2019,3770397,2847282,568639.0,0,0
62,1000,1,0,Alabama,2019,57251,54038,2293.0,10828,3
94,1001,1,1,"Autauga County, AL",2019,592,552,-14.0,208,2
126,1003,1,3,"Baldwin County, AL",2019,2322,2386,63.0,5511,-16
158,1005,1,5,"Barbour County, AL",2019,248,322,6.0,-161,-1
...,...,...,...,...,...,...,...,...,...,...
102963,56037,56,37,"Sweetwater County, WY",2019,481,301,61.0,-511,-1
102995,56039,56,39,"Teton County, WY",2019,211,90,23.0,-19,-1
103027,56041,56,41,"Uinta County, WY",2019,232,156,-2.0,-177,0
103059,56043,56,43,"Washakie County, WY",2019,81,81,-7.0,-53,-2
103091,56045,56,45,"Weston County, WY",2019,53,67,3.0,-3,-1

In [10]:
#https://www.statsamerica.org/downloads/default.aspx  -population stats - u.s., state, county population by age
pop_data3 = pd.read_csv('data/population_data/Population by Age and Sex - US, States, Counties.csv')

In [11]:
pop_data3.head(3)

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population
0,0,0,0,U.S.,2000,282162411.0,19178293.0,53197896.0,27315274.0,84973340.0,62428040.0,35069568.0,72376189.0,150287588.0,59498634.0,138443407.0,143719004.0
1,0,0,0,U.S.,2001,284968955.0,19298217.0,53372958.0,27992652.0,84523274.0,64491563.0,35290291.0,72671175.0,151902194.0,60395586.0,139891492.0,145077463.0
2,0,0,0,U.S.,2002,287625193.0,19429192.0,53507265.0,28480708.0,83990295.0,66695526.0,35522207.0,72936457.0,152463197.0,62225539.0,141230559.0,146394634.0

In [12]:
pop_data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63882 entries, 0 to 63881
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IBRC_Geo_ID          63882 non-null  int64
 1   Statefips            63882 non-null  int64
 2   Countyfips           63882 non-null  int64
 3   Description          63882 non-null  object
 4   Year                 63882 non-null  int64
 5   Total Population     63882 non-null  float64
 6   Population 0-4       63882 non-null  float64
 7   Population 5-17      63882 non-null  float64
 8   Population 18-24     63882 non-null  float64
 9   Population 25-44     63882 non-null  float64
 10  Population 45-64     63882 non-null  float64
 11  Population 65+       63882 non-null  float64
 12  Population Under 18  63882 non-null  float64
 13  Population 18-54     63882 non-null  float64
 14  Population 55+       63882 non-null  float64
 15  Male Population      63882 non-null  float64
 16  Female Population    63882 non-null  float64
dtypes: float64(12), int64(4), object(1)
memory usage: 8.3+ MB

In [13]:
pop_data3_2019 = pop_data3[pop_data3['Year']==2019]
pop_data3_2019

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population
19,0,0,0,U.S.,2019,328239523.0,19576683.0,53462467.0,30219206.0,87599465.0,83323439.0,54058263.0,73039150.0,158693573.0,96506800.0,161692336.0,166637617.0
39,1000,1,0,Alabama,2019,4903185.0,294357.0,793949.0,450224.0,1240535.0,1274283.0,849837.0,1088306.0,2307375.0,1507504.0,2371832.0,2536133.0
59,1001,1,1,"Autauga County, AL",2019,55869.0,3277.0,9688.0,4465.0,14597.0,14918.0,8924.0,12965.0,26714.0,16190.0,27078.0,28691.0
79,1003,1,3,"Baldwin County, AL",2019,223234.0,12039.0,35515.0,15805.0,51839.0,61206.0,46830.0,47554.0,96435.0,79245.0,108396.0,115169.0
99,1005,1,5,"Barbour County, AL",2019,24686.0,1309.0,3773.0,2000.0,6412.0,6331.0,4861.0,5082.0,11494.0,8110.0,13030.0,11627.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63809,56039,56,39,"Teton County, WY",2019,23464.0,1130.0,3070.0,1634.0,7729.0,6184.0,3717.0,4200.0,12486.0,6778.0,12116.0,11269.0
63829,56041,56,41,"Uinta County, WY",2019,20226.0,1361.0,4391.0,1445.0,5058.0,4946.0,3025.0,5752.0,8717.0,5757.0,10222.0,9974.0
63849,56043,56,43,"Washakie County, WY",2019,7805.0,399.0,1385.0,517.0,1725.0,2049.0,1730.0,1784.0,3158.0,2863.0,3971.0,3853.0
63869,56045,56,45,"Weston County, WY",2019,6927.0,350.0,1065.0,426.0,1680.0,1928.0,1478.0,1415.0,2881.0,2631.0,3615.0,3265.0
63881,72000,72,0,Puerto Rico,2019,3193694.0,117482.0,455249.0,303277.0,793549.0,844481.0,679656.0,572731.0,1512881.0,1108082.0,1515598.0,1677955.0

In [14]:
#https://www.statsamerica.org/downloads/default.aspx - u.s. state, county employee wage info
pop_data4 = pd.read_csv('data/wage_data/CEW - US, States, Counties - Total Ownership.csv')

In [15]:
pop_data4.head(3)

,IBRC_GEO_ID,Statefips,Countyfips,Description,Year,Ownership Code,Ownership Code Description,NAICS Code,NAICS Description,Disclosure,Units,Employment,Wages,Average Wage,Average Weekly Wage,Summary Level
0,0,0,0,U.S.,2001,0,All,00,Total,0,7984529.0,129635800.2,4.695225e+12,36219.0,697.0,10
1,0,0,0,U.S.,2001,0,All,11,"Agriculture, Forestry, Fishing and Hunting",0,102581.0,1178303.0,2.391344e+10,20295.0,390.0,10
2,0,0,0,U.S.,2001,0,All,111,- Crop Production,0,47394.0,564162.7,1.085885e+10,19248.0,370.0,10

In [16]:
pop_data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49434922 entries, 0 to 49434921
Data columns (total 16 columns):
 #   Column                      Dtype
---  ------                      -----
 0   IBRC_GEO_ID                 int64
 1   Statefips                   int64
 2   Countyfips                  int64
 3   Description                 object
 4   Year                        int64
 5   Ownership Code              int64
 6   Ownership Code Description  object
 7   NAICS Code                  object
 8   NAICS Description           object
 9   Disclosure                  int64
 10  Units                       float64
 11  Employment                  float64
 12  Wages                       float64
 13  Average Wage                float64
 14  Average Weekly Wage         float64
 15  Summary Level               int64
dtypes: float64(5), int64(7), object(4)
memory usage: 5.9+ GB

In [17]:
pop_data4_2019 = pop_data4[pop_data4['Year']==2019]
pop_data4_2019

,IBRC_GEO_ID,Statefips,Countyfips,Description,Year,Ownership Code,Ownership Code Description,NAICS Code,NAICS Description,Disclosure,Units,Employment,Wages,Average Wage,Average Weekly Wage,Summary Level
39796,0,0,0,U.S.,2019,0,All,00,Total,0,10233822.0,1.481051e+08,8.769109e+12,59209.0,1139.0,10
39797,0,0,0,U.S.,2019,0,All,11,"Agriculture, Forestry, Fishing and Hunting",0,107277.0,1.269999e+06,4.738926e+10,37314.0,718.0,10
39798,0,0,0,U.S.,2019,0,All,111,- Crop Production,1,48381.0,5.467012e+05,1.939118e+10,35469.0,682.0,10
39799,0,0,0,U.S.,2019,0,All,1111,Oilseed and Grain Farming,1,12890.0,5.467991e+04,2.212879e+09,40470.0,778.0,10
39800,0,0,0,U.S.,2019,0,All,11111,Soybean Farming,0,1119.0,5.003000e+03,1.903448e+08,38046.0,732.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49434464,56045,60,45,"Weston County, WY",2019,0,All,926140,Regulation of Agricultural Marketing and Commo...,1,3.0,4.250000e+00,2.215610e+05,52132.0,1003.0,50
49434465,56045,60,45,"Weston County, WY",2019,0,All,928,- National Security and International Affairs,1,1.0,0.000000e+00,0.000000e+00,0.0,0.0,50
49434466,56045,60,45,"Weston County, WY",2019,0,All,9281,National Security and International Affairs,1,1.0,0.000000e+00,0.000000e+00,0.0,0.0,50
49434467,56045,60,45,"Weston County, WY",2019,0,All,92811,National Security,1,1.0,0.000000e+00,0.000000e+00,0.0,0.0,50
49434468,56045,60,45,"Weston County, WY",2019,0,All,928110,National Security,1,1.0,0.000000e+00,0.000000e+00,0.0,0.0,50

In [18]:
pop_data4_2019_totals = pop_data4_2019[pop_data4_2019['NAICS Description']=='Total']
pop_data4_2019_totals

,IBRC_GEO_ID,Statefips,Countyfips,Description,Year,Ownership Code,Ownership Code Description,NAICS Code,NAICS Description,Disclosure,Units,Employment,Wages,Average Wage,Average Weekly Wage,Summary Level
39796,0,0,0,U.S.,2019,0,All,00,Total,0,10233822.0,1.481051e+08,8.769109e+12,59209.0,1139.0,10
81510,1000,1,0,Alabama,2019,0,All,00,Total,0,129465.0,1.989555e+06,9.716869e+10,48839.0,939.0,40
114848,2000,2,0,Alaska,2019,0,All,00,Total,0,22117.0,3.236954e+05,1.861845e+10,57518.0,1106.0,40
155713,4000,4,0,Arizona,2019,0,All,00,Total,0,164808.0,2.908826e+06,1.565142e+11,53807.0,1035.0,40
196656,5000,5,0,Arkansas,2019,0,All,00,Total,0,91905.0,1.218106e+06,5.535999e+10,45448.0,874.0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49375126,56037,60,37,"Sweetwater County, WY",2019,0,All,00,Total,0,1613.0,2.229250e+04,1.343821e+09,60281.0,1159.0,50
49395444,56039,60,39,"Teton County, WY",2019,0,All,00,Total,0,2457.0,2.142908e+04,1.105112e+09,51571.0,992.0,50
49411568,56041,60,41,"Uinta County, WY",2019,0,All,00,Total,0,768.0,8.291580e+03,3.484748e+08,42028.0,808.0,50
49424523,56043,60,43,"Washakie County, WY",2019,0,All,00,Total,0,442.0,3.517830e+03,1.497843e+08,42579.0,819.0,50
49434012,56045,60,45,"Weston County, WY",2019,0,All,00,Total,0,283.0,2.345000e+03,9.985924e+07,42584.0,819.0,50

In [19]:
pop_2019_merged = pd.merge(pop_data_2019, pop_data2_2019, left_on = ['IBRC_Geo_ID', 'Statefips', 'Countyfips',  'Description', 'Year'], 
                        right_on = ['IBRC_Geo_ID', 'Statefips', 'Countyfips',  'Description', 'Year'], how = 'inner')

In [20]:
pop_2019_merged2 = pd.merge(pop_2019_merged, pop_data3_2019, left_on = ['IBRC_Geo_ID', 'Statefips', 'Countyfips', 'Description', 'Year'], 
                        right_on = ['IBRC_Geo_ID', 'Statefips', 'Countyfips', 'Description', 'Year'], how = 'inner')

In [21]:
pop_2019_merged3 = pd.merge(pop_2019_merged2, pop_data4_2019_totals, left_on = [ 'Description', 'Year'], 
                        right_on = ['Description', 'Year'], how = 'inner')

In [22]:
pop_2019_merged3

,IBRC_Geo_ID,Statefips_x,Countyfips_x,Description,Year,Population,Count or Estimate,State or County Release,Births,Deaths,Net International Migration,Net Domestic Migration,Residual,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population,IBRC_GEO_ID,Statefips_y,Countyfips_y,Ownership Code,Ownership Code Description,NAICS Code,NAICS Description,Disclosure,Units,Employment,Wages,Average Wage,Average Weekly Wage,Summary Level
0,0,0,0,U.S.,2019,328329953,Estimate,State,3770397,2847282,568639.0,0,0,328239523.0,19576683.0,53462467.0,30219206.0,87599465.0,83323439.0,54058263.0,73039150.0,158693573.0,96506800.0,161692336.0,166637617.0,0,0,0,0,All,00,Total,0,10233822.0,1.481051e+08,8.769109e+12,59209.0,1139.0,10
1,1000,1,0,Alabama,2019,4907965,Estimate,County,57251,54038,2293.0,10828,3,4903185.0,294357.0,793949.0,450224.0,1240535.0,1274283.0,849837.0,1088306.0,2307375.0,1507504.0,2371832.0,2536133.0,1000,1,0,0,All,00,Total,0,129465.0,1.989555e+06,9.716869e+10,48839.0,939.0,40
2,1001,1,1,"Autauga County, AL",2019,55769,Estimate,County,592,552,-14.0,208,2,55869.0,3277.0,9688.0,4465.0,14597.0,14918.0,8924.0,12965.0,26714.0,16190.0,27078.0,28691.0,1001,1,1,0,All,00,Total,0,888.0,1.110650e+04,4.480782e+08,40344.0,776.0,50
3,1003,1,3,"Baldwin County, AL",2019,223565,Estimate,County,2322,2386,63.0,5511,-16,223234.0,12039.0,35515.0,15805.0,51839.0,61206.0,46830.0,47554.0,96435.0,79245.0,108396.0,115169.0,1003,1,3,0,All,00,Total,0,6471.0,7.641883e+04,2.926329e+09,38293.0,736.0,50
4,1005,1,5,"Barbour County, AL",2019,24657,Estimate,County,248,322,6.0,-161,-1,24686.0,1309.0,3773.0,2000.0,6412.0,6331.0,4861.0,5082.0,11494.0,8110.0,13030.0,11627.0,1005,1,5,0,All,00,Total,0,562.0,8.239160e+03,3.079464e+08,37376.0,719.0,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,56037,56,37,"Sweetwater County, WY",2019,42917,Estimate,County,481,301,61.0,-511,-1,42343.0,2797.0,8171.0,3558.0,11991.0,10337.0,5489.0,10968.0,20302.0,11073.0,22167.0,20750.0,56037,60,37,0,All,00,Total,0,1613.0,2.229250e+04,1.343821e+09,60281.0,1159.0,50
3187,56039,56,39,"Teton County, WY",2019,23385,Estimate,County,211,90,23.0,-19,-1,23464.0,1130.0,3070.0,1634.0,7729.0,6184.0,3717.0,4200.0,12486.0,6778.0,12116.0,11269.0,56039,60,39,0,All,00,Total,0,2457.0,2.142908e+04,1.105112e+09,51571.0,992.0,50
3188,56041,56,41,"Uinta County, WY",2019,20196,Estimate,County,232,156,-2.0,-177,0,20226.0,1361.0,4391.0,1445.0,5058.0,4946.0,3025.0,5752.0,8717.0,5757.0,10222.0,9974.0,56041,60,41,0,All,00,Total,0,768.0,8.291580e+03,3.484748e+08,42028.0,808.0,50
3189,56043,56,43,"Washakie County, WY",2019,7824,Estimate,County,81,81,-7.0,-53,-2,7805.0,399.0,1385.0,517.0,1725.0,2049.0,1730.0,1784.0,3158.0,2863.0,3971.0,3853.0,56043,60,43,0,All,00,Total,0,442.0,3.517830e+03,1.497843e+08,42579.0,819.0,50
3190,56045,56,45,"Weston County, WY",2019,6880,Estimate,County,53,67,3.0,-3,-1,6927.0,350.0,1065.0,426.0,1680.0,1928.0,1478.0,1415.0,2881.0,2631.0,3615.0,3265.0,56045,60,45,0,All,00,Total,0,283.0,2.345000e+03,9.985924e+07,42584.0,819.0,50

In [23]:
#https://ghdx.healthdata.org/record/ihme-data/united-states-life-expectancy-by-county-race-ethnicity-2000-2019
life_data4 = pd.read_csv('data/population_data/IHME_USA_LE_COUNTY_RACE_ETHN_2000_2019_LT_2019_BOTH_Y2022M06D16.csv')

In [24]:
life_data4.head(3)

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,year,metric_id,metric_name,val,upper,lower
0,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,28,<1 year,2019,1,Number,79.050483,79.081223,79.020420
1,26,Life expectancy,102,United States of America,NaN,2,Latino,3,Both,28,<1 year,2019,1,Number,82.198834,82.452222,81.959806
2,26,Life expectancy,102,United States of America,NaN,4,Black,3,Both,28,<1 year,2019,1,Number,75.321229,75.428222,75.216139

In [25]:
life_data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365940 entries, 0 to 365939
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   measure_id     365940 non-null  int64
 1   measure_name   365940 non-null  object
 2   location_id    365940 non-null  int64
 3   location_name  365940 non-null  object
 4   fips           365826 non-null  float64
 5   race_id        365940 non-null  int64
 6   race_name      365940 non-null  object
 7   sex_id         365940 non-null  int64
 8   sex_name       365940 non-null  object
 9   age_group_id   365940 non-null  int64
 10  age_name       365940 non-null  object
 11  year           365940 non-null  int64
 12  metric_id      365940 non-null  int64
 13  metric_name    365940 non-null  object
 14  val            203053 non-null  float64
 15  upper          203053 non-null  float64
 16  lower          203053 non-null  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 47.5+ MB

In [26]:
life_data4T = life_data4[life_data4['race_name']=='Total']
life_data4T

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,year,metric_id,metric_name,val,upper,lower
0,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,28,<1 year,2019,1,Number,79.050483,79.081223,79.020420
6,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,5,1 to 4,2019,1,Number,78.481500,78.510684,78.453726
12,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,6,5 to 9,2019,1,Number,74.554460,74.583068,74.526185
18,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,7,10 to 14,2019,1,Number,69.596161,69.624725,69.567627
24,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,8,15 to 19,2019,1,Number,64.644805,64.673294,64.616221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365910,26,Life expectancy,3712,Sweetwater County (Wyoming),56037.0,1,Total,3,Both,160,85 plus,2019,1,Number,6.454793,7.009857,5.947228
365916,26,Life expectancy,3697,Teton County (Wyoming),56039.0,1,Total,3,Both,160,85 plus,2019,1,Number,9.278237,10.260959,8.462822
365922,26,Life expectancy,3714,Uinta County (Wyoming),56041.0,1,Total,3,Both,160,85 plus,2019,1,Number,6.945065,7.717046,6.217996
365928,26,Life expectancy,3700,Washakie County (Wyoming),56043.0,1,Total,3,Both,160,85 plus,2019,1,Number,6.772782,7.469259,6.134949
365934,26,Life expectancy,3699,Weston County (Wyoming),56045.0,1,Total,3,Both,160,85 plus,2019,1,Number,7.391352,8.168288,6.642821

In [27]:
life_data4T1 = life_data4T[life_data4T['age_name']=='<1 year']
life_data4T1

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,year,metric_id,metric_name,val,upper,lower
0,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,28,<1 year,2019,1,Number,79.050483,79.081223,79.020420
114,26,Life expectancy,523,Alabama,1.0,1,Total,3,Both,28,<1 year,2019,1,Number,75.672907,75.890451,75.466073
228,26,Life expectancy,614,Autauga County (Alabama),1001.0,1,Total,3,Both,28,<1 year,2019,1,Number,76.627700,77.207090,76.054425
234,26,Life expectancy,637,Baldwin County (Alabama),1003.0,1,Total,3,Both,28,<1 year,2019,1,Number,78.325514,78.692676,77.945231
240,26,Life expectancy,624,Barbour County (Alabama),1005.0,1,Total,3,Both,28,<1 year,2019,1,Number,74.860850,75.528484,74.209992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363426,26,Life expectancy,3712,Sweetwater County (Wyoming),56037.0,1,Total,3,Both,28,<1 year,2019,1,Number,78.384155,79.168522,77.691659
363432,26,Life expectancy,3697,Teton County (Wyoming),56039.0,1,Total,3,Both,28,<1 year,2019,1,Number,85.905597,86.943858,85.025816
363438,26,Life expectancy,3714,Uinta County (Wyoming),56041.0,1,Total,3,Both,28,<1 year,2019,1,Number,77.886506,78.814331,76.933296
363444,26,Life expectancy,3700,Washakie County (Wyoming),56043.0,1,Total,3,Both,28,<1 year,2019,1,Number,78.532334,79.581140,77.524879
363450,26,Life expectancy,3699,Weston County (Wyoming),56045.0,1,Total,3,Both,28,<1 year,2019,1,Number,79.568976,80.633775,78.519746

#https://taxfoundation.org/data/all/state/sales-tax-rates-2019/
state and local sales tax rates for 2019- requires webscrapping

#https://taxfoundation.org/data/all/state/state-individual-income-tax-rates-brackets-2019/
2019 state income taxes - copied to excel file as  data/tax_data/2019_state_income_tax_rates

#https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2019-zip-code-data-soi
individual income tax return data by state data/tax_data/2019_state_income_tax_returns

#https://www.census.gov/data/datasets/2019/econ/local/public-use-datasets.html
2019 state finance information revenue / expenditure data/tax_data/2019_state_finance_data

#https://www.census.gov/data/tables/2019/econ/qtax/historical.html
2019 state tax revenue, quarterly breakdown data/tax_data/2019_state_tax_revenue