In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline
pd.set_option('display.max_columns', None)

In [2]:
#https://www.statsamerica.org/downloads/default.aspx  -population stats - u.s., state, county populaton
pop_data = pd.read_csv('data/population_data/Population_estimates_US_States_Counties.csv')

In [3]:
pop_data

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Population,Count or Estimate,State or County Release
0,0,0,0,U.S.,1970,203302031,Count,State
1,0,0,0,U.S.,1970,203302037,Estimate,County
2,0,0,0,U.S.,1980,226545805,Count,State
3,0,0,0,U.S.,1980,226542250,Estimate,County
4,0,0,0,U.S.,1990,248790925,Count,State
...,...,...,...,...,...,...,...,...
89494,56045,56,45,"Weston County, WY",2016,7228,Estimate,County
89495,56045,56,45,"Weston County, WY",2017,6962,Estimate,County
89496,56045,56,45,"Weston County, WY",2018,6895,Estimate,County
89497,56045,56,45,"Weston County, WY",2019,6880,Estimate,County
89498,56045,56,45,"Weston County, WY",2020,6743,Estimate,County

In [4]:
#https://www.statsamerica.org/downloads/default.aspx  -population stats - u.s., state, county population change
pop_data2 = pd.read_csv('data/population_data/Components of Population Change - US, States, Counties.csv')

In [5]:
pop_data2

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Births,Deaths,Net International Migration,Net Domestic Migration,Residual
0,0,0,0,U.S.,1990,1037851,517815,171313.0,0,0
1,0,0,0,U.S.,1991,4133265,2138906,649430.0,0,0
2,0,0,0,U.S.,1992,4105689,2180115,773452.0,0,0
3,0,0,0,U.S.,1993,4027125,2226027,825880.0,0,0
4,0,0,0,U.S.,1994,3971136,2282854,764208.0,0,0
...,...,...,...,...,...,...,...,...,...,...
103088,56045,56,45,"Weston County, WY",2016,89,69,15.0,-8,-1
103089,56045,56,45,"Weston County, WY",2017,58,69,19.0,-275,1
103090,56045,56,45,"Weston County, WY",2018,67,68,17.0,-85,2
103091,56045,56,45,"Weston County, WY",2019,53,67,3.0,-3,-1
103092,56045,56,45,"Weston County, WY",2020,53,72,2.0,-119,-1

In [11]:
#https://www.statsamerica.org/downloads/default.aspx  -population stats - u.s., state, county population by age
pop_data3 = pd.read_csv('data/population_data/Population by Age and Sex - US, States, Counties.csv')

In [12]:
pop_data3

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population
0,0,0,0,U.S.,2000,282162411.0,19178293.0,53197896.0,27315274.0,84973340.0,62428040.0,35069568.0,72376189.0,150287588.0,59498634.0,138443407.0,143719004.0
1,0,0,0,U.S.,2001,284968955.0,19298217.0,53372958.0,27992652.0,84523274.0,64491563.0,35290291.0,72671175.0,151902194.0,60395586.0,139891492.0,145077463.0
2,0,0,0,U.S.,2002,287625193.0,19429192.0,53507265.0,28480708.0,83990295.0,66695526.0,35522207.0,72936457.0,152463197.0,62225539.0,141230559.0,146394634.0
3,0,0,0,U.S.,2003,290107933.0,19592446.0,53508312.0,28916746.0,83398001.0,68828899.0,35863529.0,73100758.0,153134701.0,63872474.0,142428897.0,147679036.0
4,0,0,0,U.S.,2004,292805298.0,19785885.0,53511850.0,29302179.0,83066831.0,70935234.0,36203319.0,73297735.0,153998940.0,65508623.0,143828012.0,148977286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63877,72000,72,0,Puerto Rico,2015,3473232.0,172208.0,559788.0,348790.0,873430.0,889620.0,629396.0,731996.0,1678391.0,1062845.0,1656361.0,1816871.0
63878,72000,72,0,Puerto Rico,2016,3406672.0,160089.0,533468.0,336650.0,851966.0,881072.0,643427.0,693557.0,1637171.0,1075944.0,1620266.0,1786406.0
63879,72000,72,0,Puerto Rico,2017,3325286.0,144751.0,506785.0,322684.0,827176.0,869105.0,654785.0,651536.0,1588502.0,1085248.0,1580779.0,1744505.0
63880,72000,72,0,Puerto Rico,2018,3193354.0,124487.0,467385.0,304190.0,787277.0,848607.0,661408.0,591872.0,1513781.0,1087701.0,1517003.0,1676341.0
63881,72000,72,0,Puerto Rico,2019,3193694.0,117482.0,455249.0,303277.0,793549.0,844481.0,679656.0,572731.0,1512881.0,1108082.0,1515598.0,1677955.0

In [6]:
#https://www.statsamerica.org/downloads/default.aspx - u.s. state, county employee wage info
wage_data = pd.read_csv('data/wage_data/CEW - US, States, Counties - Total Ownership.csv')

In [7]:
wage_data

,IBRC_GEO_ID,Statefips,Countyfips,Description,Year,Ownership Code,Ownership Code Description,NAICS Code,NAICS Description,Disclosure,Units,Employment,Wages,Average Wage,Average Weekly Wage,Summary Level
0,0,0,0,U.S.,2001,0,All,00,Total,0,7984529.0,1.296358e+08,4.695225e+12,36219.0,697.0,10
1,0,0,0,U.S.,2001,0,All,11,"Agriculture, Forestry, Fishing and Hunting",0,102581.0,1.178303e+06,2.391344e+10,20295.0,390.0,10
2,0,0,0,U.S.,2001,0,All,111,- Crop Production,0,47394.0,5.641627e+05,1.085885e+10,19248.0,370.0,10
3,0,0,0,U.S.,2001,0,All,1111,Oilseed and Grain Farming,1,6080.0,2.742160e+04,6.413288e+08,23388.0,450.0,10
4,0,0,0,U.S.,2001,0,All,11111,Soybean Farming,0,420.0,2.394300e+03,5.721158e+07,23895.0,460.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49434917,56045,60,45,"Weston County, WY",2020,0,All,92612,Regulation and Administration of Transportatio...,1,1.0,0.000000e+00,0.000000e+00,0.0,0.0,50
49434918,56045,60,45,"Weston County, WY",2020,0,All,926120,Regulation and Administration of Transportatio...,1,1.0,0.000000e+00,0.000000e+00,0.0,0.0,50
49434919,56045,60,45,"Weston County, WY",2020,0,All,92614,Regulation of Agricultural Marketing and Commo...,1,3.0,5.250000e+00,1.764280e+05,33605.0,646.0,50
49434920,56045,60,45,"Weston County, WY",2020,0,All,926140,Regulation of Agricultural Marketing and Commo...,1,3.0,5.250000e+00,1.764280e+05,33605.0,646.0,50
49434921,56045,60,45,"Weston County, WY",2020,0,All,99,Unallocated,0,1.0,1.000000e+00,2.073300e+04,35542.0,684.0,50

#https://taxfoundation.org/data/all/state/sales-tax-rates-2019/
state and local sales tax rates for 2019- requires webscrapping

#https://taxfoundation.org/data/all/state/state-individual-income-tax-rates-brackets-2019/
2019 state income taxes - copied to excel file as  data/tax_data/2019_state_income_tax_rates

#https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2019-zip-code-data-soi
individual income tax return data by state data/tax_data/2019_state_income_tax_returns

#https://www.census.gov/data/datasets/2019/econ/local/public-use-datasets.html
2019 state finance information revenue / expenditure data/tax_data/2019_state_finance_data

#https://www.census.gov/data/tables/2019/econ/qtax/historical.html
2019 state tax revenue, quarterly breakdown data/tax_data/2019_state_tax_revenue