In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline
pd.set_option('display.max_columns', None)

In [2]:
zips2fips = pd.read_csv('data/Fips/ZIP-COUNTY-FIPS_2017-06.csv')
zips2fips

         ZIP         COUNTYNAME STATE  STCOUNTYFP CLASSFP
0      36003     Autauga County    AL        1001      H1
1      36006     Autauga County    AL        1001      H1
2      36067     Autauga County    AL        1001      H1
3      36066     Autauga County    AL        1001      H1
4      36703     Autauga County    AL        1001      H1
...      ...                ...   ...         ...     ...
52884    850   St. Croix Island    VI       78010      H4
52885    840   St. Croix Island    VI       78010      H4
52886    820   St. Croix Island    VI       78010      H4
52887    830    St. John Island    VI       78020      H4
52888    802  St. Thomas Island    VI       78030      H4

[52889 rows x 5 columns]

In [3]:
zips2fips.dtypes

ZIP            int64
COUNTYNAME    object
STATE         object
STCOUNTYFP     int64
CLASSFP       object
dtype: object

In [4]:
zips2fips['Statefips'] = zips2fips['STCOUNTYFP'].astype(str).str[:-3]
zips2fips['Countyfips'] = zips2fips['STCOUNTYFP'].astype(str).str[-3:]
zips2fips['Statefips'] = zips2fips['Statefips'].astype(int)
zips2fips['Countyfips'] = zips2fips['Countyfips'].astype(int)
zips2fips

,ZIP,COUNTYNAME,STATE,STCOUNTYFP,CLASSFP,Statefips,Countyfips
0,36003,Autauga County,AL,1001,H1,1,1
1,36006,Autauga County,AL,1001,H1,1,1
2,36067,Autauga County,AL,1001,H1,1,1
3,36066,Autauga County,AL,1001,H1,1,1
4,36703,Autauga County,AL,1001,H1,1,1
...,...,...,...,...,...,...,...
52884,850,St. Croix Island,VI,78010,H4,78,10
52885,840,St. Croix Island,VI,78010,H4,78,10
52886,820,St. Croix Island,VI,78010,H4,78,10
52887,830,St. John Island,VI,78020,H4,78,20
52888,802,St. Thomas Island,VI,78030,H4,78,30

In [5]:
zips2fips = zips2fips.drop(columns=['CLASSFP'])
zips2fips

         ZIP         COUNTYNAME STATE  STCOUNTYFP  Statefips  Countyfips
0      36003     Autauga County    AL        1001          1           1
1      36006     Autauga County    AL        1001          1           1
2      36067     Autauga County    AL        1001          1           1
3      36066     Autauga County    AL        1001          1           1
4      36703     Autauga County    AL        1001          1           1
...      ...                ...   ...         ...        ...         ...
52884    850   St. Croix Island    VI       78010         78          10
52885    840   St. Croix Island    VI       78010         78          10
52886    820   St. Croix Island    VI       78010         78          10
52887    830    St. John Island    VI       78020         78          20
52888    802  St. Thomas Island    VI       78030         78          30

[52889 rows x 6 columns]

In [6]:
filtered_rows1 = zips2fips[zips2fips['STATE'].str.contains('TN')]
filtered_rows1 = filtered_rows1.sort_values(by='ZIP')
filtered_rows1

         ZIP         COUNTYNAME STATE  STCOUNTYFP  Statefips  Countyfips
43361  37010   Robertson County    TN       47147         47         147
43241  37010  Montgomery County    TN       47125         47         125
42705  37011    Davidson County    TN       47037         47          37
42717  37012      DeKalb County    TN       47041         47          41
43507  37012       Smith County    TN       47159         47         159
...      ...                ...   ...         ...        ...         ...
43014  38588     Jackson County    TN       47087         47          87
43160  38588       Macon County    TN       47111         47         111
43294  38589     Overton County    TN       47133         47         133
42769  38589    Fentress County    TN       47049         47          49
43254  42223  Montgomery County    TN       47125         47         125

[1224 rows x 6 columns]

In [7]:
pop_fips_table = pd.read_csv('data/Fips/fips_table.csv')
pop_fips_table.dtypes

Statefips       int64
Countyfips      int64
Description    object
dtype: object

In [8]:
pop_fips_table

      Statefips  Countyfips            Description
0             0           0                   U.S.
1             1           0                Alabama
2             1           1     Autauga County, AL
3             1           3     Baldwin County, AL
4             1           5     Barbour County, AL
...         ...         ...                    ...
3187         56          37  Sweetwater County, WY
3188         56          39       Teton County, WY
3189         56          41       Uinta County, WY
3190         56          43    Washakie County, WY
3191         56          45      Weston County, WY

[3192 rows x 3 columns]

In [9]:
complete_fips = pd.merge(pop_fips_table, zips2fips, left_on = [ 'Statefips', 'Countyfips'], 
                        right_on = ['Statefips', 'Countyfips'], how = 'right')

In [10]:
complete_fips

,Statefips,Countyfips,Description,ZIP,COUNTYNAME,STATE,STCOUNTYFP
0,1,1,"Autauga County, AL",36003,Autauga County,AL,1001
1,1,1,"Autauga County, AL",36006,Autauga County,AL,1001
2,1,1,"Autauga County, AL",36067,Autauga County,AL,1001
3,1,1,"Autauga County, AL",36066,Autauga County,AL,1001
4,1,1,"Autauga County, AL",36703,Autauga County,AL,1001
...,...,...,...,...,...,...,...
52884,78,10,NaN,850,St. Croix Island,VI,78010
52885,78,10,NaN,840,St. Croix Island,VI,78010
52886,78,10,NaN,820,St. Croix Island,VI,78010
52887,78,20,NaN,830,St. John Island,VI,78020
52888,78,30,NaN,802,St. Thomas Island,VI,78030

In [11]:
complete_fips = complete_fips[['STATE','COUNTYNAME','Description','ZIP','Statefips','Countyfips','STCOUNTYFP']]

In [12]:
complete_fips

,STATE,COUNTYNAME,Description,ZIP,Statefips,Countyfips,STCOUNTYFP
0,AL,Autauga County,"Autauga County, AL",36003,1,1,1001
1,AL,Autauga County,"Autauga County, AL",36006,1,1,1001
2,AL,Autauga County,"Autauga County, AL",36067,1,1,1001
3,AL,Autauga County,"Autauga County, AL",36066,1,1,1001
4,AL,Autauga County,"Autauga County, AL",36703,1,1,1001
...,...,...,...,...,...,...,...
52884,VI,St. Croix Island,NaN,850,78,10,78010
52885,VI,St. Croix Island,NaN,840,78,10,78010
52886,VI,St. Croix Island,NaN,820,78,10,78010
52887,VI,St. John Island,NaN,830,78,20,78020
52888,VI,St. Thomas Island,NaN,802,78,30,78030

In [13]:
complete_fips.to_csv('data/Fips/complete_fips.csv',index=False)

In [14]:
filtered_rows2 = complete_fips[complete_fips['STATE'].str.contains('TN')]
filtered_rows2 = filtered_rows2.sort_values(by='ZIP')
filtered_rows2

,STATE,COUNTYNAME,Description,ZIP,Statefips,Countyfips,STCOUNTYFP
43361,TN,Robertson County,"Robertson County, TN",37010,47,147,47147
43241,TN,Montgomery County,"Montgomery County, TN",37010,47,125,47125
42705,TN,Davidson County,"Davidson County, TN",37011,47,37,47037
42717,TN,DeKalb County,"DeKalb County, TN",37012,47,41,47041
43507,TN,Smith County,"Smith County, TN",37012,47,159,47159
...,...,...,...,...,...,...,...
43014,TN,Jackson County,"Jackson County, TN",38588,47,87,47087
43160,TN,Macon County,"Macon County, TN",38588,47,111,47111
43294,TN,Overton County,"Overton County, TN",38589,47,133,47133
42769,TN,Fentress County,"Fentress County, TN",38589,47,49,47049
43254,TN,Montgomery County,"Montgomery County, TN",42223,47,125,47125